<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <th:block th:fragment="styles">
        <link th:href="@{/webjars/bootstrap/5.3.8/css/bootstrap.min.css}" th:rel="stylesheet" />
        <link th:rel="stylesheet" th:href="@{/style.css}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    </th:block>

</head>

<body>

    <th:block th:fragment="navbar">
        <div class="container">
            <div class="row nav-border my-2" style="font-size: 20px;">
                <div class="col-2 px-3 py-4 col-2-border d-flex align-items-center">
                    <div>
                        Welcome to Films
                    </div>
                </div>
                <div class="col-7 px-3 py-4 d-flex align-items-center">
                    <div class="me-5">
                        <a th:href="@{/films}" class="nav-link">Film</a>
                    </div>
                    <div class="me-5">
                        <a th:href="@{/actors}" class="nav-link">Attori</a>
                    </div>
                    <div class="me-5">
                        <a th:href="@{/genres}" class="nav-link">Generi</a>
                    </div>
                </div>
                <div class="col-3 d-flex align-items-center justify-content-end">
                    <form th:action="@{/logout}" method="post">
                        <button type="submit">Logout</button>
                    </form>
                </div>
            </div>
        </div>
    </th:block>


    <th:block th:fragment="scripts">
        <script th:src="@{/webjars/bootstrap/5.3.8/js/bootstrap.bundle.min.js}"></script>
    </th:block>
</body>

</html>