<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/fragments :: styles}"></th:block>
    <title>Document</title>
</head>

<body>

    <th:block th:replace="~{fragments/fragments :: navbar}"></th:block>

    <div class="d-flex justify-content-center" style="margin-top: 50px;">

        <div class="card mb-3 w-75">
            <div class="row g-0">
                <div class="col-md-4 d-flex align-items-start">
                    <img th:src="${film.poster}" class="card-img-top" alt="...">
                </div>
                <div class="col-md-6">
                    <div class="card-body">
                        <h3 class="card-title mb-3" th:text="${film.title}"></h3>
                        <h5>Trama:</h5>
                        <p class="card-text" th:text="${film.plot}"></p>
                        <h5>Direttore:</h5>
                        <p class="card-text" th:text="${film.director}"></p>
                        <h5>Durata:</h5>
                        <p class="card-text" th:text="${film.length} + 'min'"></p>
                        <h5>Data di pubblicazione:</h5>
                        <p class="card-text" th:text="${film.publication_date}"></p>
                        <h5>Lingua originale:</h5>
                        <p class="card-text" th:text="${film.original_language}"></p>
                        <a th:href="@{/films}" class="btn btn-primary">Torna ai film</a>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card-body">
                        <div>
                            <h5 class="mb-3">Attori:</h5>

                            <div th:if="${actors.isEmpty()}">
                                <p class="text-muted">Attori non presenti</p>
                            </div>

                            <div th:unless="${actors.isEmpty()}">
                                <ul class="list-unstyled m-0 p-0">
                                    <li th:each="actor : ${actors}" class="my-2">
                                        <a th:href="@{/actors/{id}(id=${actor.id})}" th:text="${actor.name}"
                                            class="text-decoration-none text-dark"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div>
                            <h5 class="mb-3">Generi:</h5>

                            <div th:if="${genres.isEmpty()}">
                                <p class="text-muted">Generi non presenti</p>
                            </div>

                            <div th:unless="${genres.isEmpty()}">
                                <ul class="list-unstyled m-0 p-0">
                                    <li th:each="genre : ${genres}" class="my-2">
                                        <a th:href="@{/genres/{id}(id=${genre.id})}" th:text="${genre.name}"
                                            class="text-decoration-none text-dark"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <th:block th:replace="~{fragments/fragments :: scripts}"></th:block>


</body>

</html>